.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.deviconLogoStyle {
  width: 10%;
}

.avatar {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  overflow: hidden;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
}

.app-link {
  color: #61dafb;
}
.btn {
  font-size: 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 5px #27272c;
  background-color: #8260dc;
  color: #fff;
  border: 0;
  height: 2.5rem;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
}

.stitle {
  border-top: white dashed 2px;
  color: #fff;
  padding-top: 15px;
  margin-top: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
